@import "tailwindcss";



:root {
  --color-primary: #A9B5DF; /* default (light theme) */
  --color-secondary:var(--color-purple-500);
  --color-tertiary:#2D336B;
  --color-background: #11071f;
  --color-text: #b1b0b0;
  --color-text_heading: #FFFFFF;
  --color-text_subheading: #B9BFFF;
}

.light {
  --color-primary: #0037ff; /* default (light theme) */
  --color-secondary:#000000;
  --color-tertiary:#2D336B;
  --color-background: #0d0d0e;
  --color-text: #28e738;
  --color-text_heading: #FFFFFF;
  --color-text_subheading: #ffffff;
}

@theme {
  --color-primary: var(--color-primary);
  --color-background: var(--color-background);
  --color-text: var(--color-text);
  --color-secondary: var(--color-purple-500);
  --color-tertiary: var(--color-tertiary);
  --color-text_secondary: var(--color-text_secondary);
  --color-text_subheading: var(--color-text_subheading)
}
@layer utilities {
  .font-cursive {
    font-family: 'Dancing Script', cursive;
  }
}


@keyframes wordFade {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-word-fade {
  animation: wordFade 0.5s ease forwards;
  opacity: 0;
}

body{
  background: var(--color-background);
  transition: background 1s ease;
}

